/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 16px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Nav ***********/
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    border-top: 2px solid transparent;
}

nav img {
    width: 61.09px;
    height: 19px;
}

nav a {
    border-top: 2px solid transparent;
    padding: 16px;
    line-height: 100%;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

nav ul{
    width: 244px;
    height: 35px;
    display: flex ;
    justify-content: start;
    gap: 68px;
    list-style: none;
}

/****** Header ***********/
header {
    gap: 35px;

}

.search-bar {
  color: white;
}

.filters {
    display: flex;
    align-items: center;

}

.vector-i {
    display: inline-block;
    width: 4px; height: 10px;
    border: 1px solid #D9D9D9 ;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
}
 
.info {
    display: flex;
    align-items: center;
}

.filters-btn {
    display: flex;
    align-items: center;
    margin: 0.5em;
    border-radius: 25px;
    padding: 4px 19px;
    border-color: #D9D9D9;
    border: solid 1px;
}

.filters-btn:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.icon {
    margin-right: 10px;
}   
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-and-populaires  section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px; 
    box-sizing: border-box;
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.hebergements-cards  img {
    width: 100%;
    height: 124px;
    border-radius: 20px;  
}

.hebergements-cards a {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
}


/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/
.activites {
    width: 100%;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
}

.activites .card{
   border-radius: 20px;
   padding: 1px;
  
}

.activites-cards {
    display: flex;
    gap: 30px;
    margin-left: -1em;
}

.activites img{
    width: 297.5px;
    height: 380px; 
}
.activites h3{
    margin-left: 16px;
}
/****** Footer ***********/

footer {
  background-color: #F2F2F2;
  display: flex;
  justify-content: start;
  padding: 40px 50px;
  gap: 15em;
  
  
}
 
footer .footer-section {
  display: flex;
  flex-direction: column;
}


footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 100%;
    }
    .activites-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*Small devices (phones, less than 768px)*/
@media (max-width: 768px) {
  .activites {
    flex-direction: column;
    gap: 20px;
  }
  .activites a {
    width: 100%;
  }
}

